<% provide(:title, 'Sign up') %>
 <div class="wrapper">
	<%=form_for @user, html: {onsubmit: "return checkForm(this);"} do |f|%>
	<div class="form-group">
			<h2>Create account</h2>
	</div>
<div class="form-group">
<%= f.label :name, "Username", class: "control-label" %>
<%= f.text_field :name, class: "form-control", maxlength: "50", required: true%>
	</div>
<div class="form-group">
<%= f.label :email, "Email", class: "control-label" %>
<%= f.email_field :email, class: "form-control", maxlength: "50", required: true%>
						</div>
<div class="form-group">
<%= f.label :password, "Password", class: "control-label" %>
<%= f.password_field :password, class: "form-control", minlength: "6", maxlength: "25", required: true%>	
						</div>
<div class="form-group">
<%= f.label :password_confirmation, "Confirm password", class: "control-label" %>
<%= f.password_field :password_confirmation, class: "form-control", minlength: "6", maxlength: "25", required: true%>	
						</div>
            <div class="form-group button">
              <%=f.submit "Create account", class: "btn btn-primary"%>
						</div>
            
            
						<p class="form-group">By creating an account, you agree to our <%=link_to "Terms of Use", "#"%> and our <%=link_to "Privacy Policy", "#"%>.</p>
						<hr>
						<p class="form-group note">Already have an account? <%=link_to "Log in", :log_in%></p>
            <%end%>
            
				
	</div>