<%= form_tag(:all_activities, method: "get") do %>
<div class="d-flex justify-content-around bg-light py-3 px-2 my-2 mx-1 align-items-center flex-wrap">
<div class="form-check m-1">
  <%= check_box_tag 'all', 'yes', false, class: "form-check-input"%>
  <%= label_tag :all, "All", class: "form-check-label"%>
 </div>
<div class="form-check m-1">
  <%= check_box_tag 'popular', 'yes', false, class: "form-check-input"%>
  <%= label_tag :popular, "Popular", class: "form-check-label"%>
</div>
<div class="form-check m-1">
  <%= check_box("activity", "categories", {:multiple => true}, "games", nil)%>
  <%= label_tag :activity_categories_games, "Games", class: "form-check-label"%>
</div>
<div class="form-check m-1">
  <%= check_box("activity", "categories", {:multiple => true}, "ice_breakers", nil)%>
  <%= label_tag :activity_categories_ice_breakers, "Ice breakers", class: "form-check-label"%>
</div>
<div class="form-check m-1">
  <%= check_box("activity", "categories", {:multiple => true}, "vocabulary", nil)%>
  <%= label_tag :activity_categories_vocabulary, "Vocabulary", class: "form-check-label"%>
</div>
<div class="form-check m-1">
  <%= check_box("activity", "categories", {:multiple => true}, "music", nil)%>
  <%= label_tag :activity_categories_music, "Music", class: "form-check-label"%>
</div>
<div class="form-check m-1">
 <%= check_box("activity", "categories", {:multiple => true}, "movement", nil)%>
  <%= label_tag :activity_categories_movement, "Movement", class: "form-check-label"%>
</div>

</div>

              <%=button_tag "Filter", class: "btn btn-primary px-4 right"%>

<%end%>



<p><%=@p%></p>
<p><%=@a%></p>


<%=@activities.each  do |e|%>
<p><%=e.title%></p>
<p><%=e.description%></p>
<p><%=e.category%></p>
<%end%>