<!DOCTYPE html>
<html>
  <head>
    <title>RReisoFinal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
  <div class="logo">
    <%=link_to root_path, class: "link" do %>
    <%=image_tag("logo.png", class: "menu-icon", size: "50x80", alt: "Logo")%>
    <span class="navbar-brand" id="brand-text">Teacher's pocket</span>
    </div>
  <%end%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <%= form_tag(:search_path, method: "get", class: "d-flex") do %>
    <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control me-2", "aria-label": "Search" %> 
<%= button_tag "Search", class: 'btn btn-outline-primary', name: nil%>
<% end %>

    
      <ul class="navbar-nav mb-2 mb-lg-0 ">
        <li class="nav-item">
          <%=link_to "Home", root_path, class: "nav-link",  "aria-current" => "page"%>
        </li>
        <%if !current_user_method%>
        <li class="nav-item">
          <%=link_to "Activities", :all_activities, class: "nav-link"%>
        </li>
        <li class="nav-item">
          <%=link_to "Log in", login_path, class: "nav-link"%>
        </li>
        <li class="nav-item">
        <%=link_to "Sign up", :sign_up, class: "btn btn-danger"%>
          
        </li>
          <%else%>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Activities
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><%=link_to "All activities", :all_activities, class: "dropdown-item"%></a></li>
            <li><%=link_to "My activities", user_activities_path(current_user_method), class: "dropdown-item"%></li>
            <li><%=link_to "New", new_user_activity_path(current_user_method), class: "dropdown-item"%></li>
          </ul>
        </li>
        <li class="nav-item">
          <%=link_to "Log out", logout_path, method: :delete , class: "nav-link"%>
        </li>
          <%end%>
      </ul>
      
    </div>
  </div>
</nav>
<%# flash messages, class changes according to the type (:success, :warning)%>
<% flash.each do |type, msg| %>
  <div class="alert alert-<%=type%> alert-dismissible fade show mx-5 my-3" role="alert">
    <%= msg %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
<%if @current_user%>
this is <%=@current_user.name%>
<%end%>
    <%= yield %>
  </body>
</html>
