<!DOCTYPE html>
<html>
  <head>
    <title>Teacher's Notes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    </main>
      <%# flash messages, class changes according to the type (:success, :warning)%>
      <%flash.each do |type, msg|%>
        <div class="alert alert-<%=type%> alert-dismissible fade show mx-5 my-3" role="alert">
          <%= msg %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <%end%>
      <%if @current_user%>
        <p class="fs-125 p-1 m-2 mx-sm-5 mb-sm-5 " id="logged-in">You are: <span><%=@current_user.name%></span></p>
      <%end%>
      <%= yield %>
    </main>
    <%= render 'shared/footer' %>
    <script async defer src="//assets.pinterest.com/js/pinit.js"></script>
  </body>
</html>
